* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

header {
  height: 150px;
  background-color: blue;
  display: flex;
  justify-content: center;
  align-items: center;
}

main .container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

main a {
  display: block;
  margin: 20px 0;
}

footer {
  height: 150px;
  background-color: blue;
  display: flex;
  justify-content: center;
  align-items: center;
}

